body {
      background-color: #1f1f1f;
      color: #fff;
      font-family: sans-serif;
}

.container {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
}
.season {
    /*background-color: #113344;*/
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.season-text {
    padding: 5px 10px;
    font-weight: bold;
}

.episode {
      display: flex;
      gap: 5px;
      padding: 5px 10px;
      background-color: #333;
      border-radius: 5px;
}
a, a:hover, a:visited, a:active {
      color: inherit;
      text-decoration: none;
     }
.active{
      background-color: #9e0de0;
}